@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&family=Yanone+Kaffeesatz&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Yanone Kaffeesatz', Helvetica, sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 1s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 60px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

/*style the circle when the container has the show-nav class*/
.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: rgb(18, 200, 185);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid rgb(239, 45, 204);
    position: relative;
    transition: transform 1.3s linear;
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 25px;
    color: #fafafa
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left; 
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.5s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none; /* gets rid of the bullet points*/
    padding-left: 30px;
}

nav ul li {
    color: #fafafa;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
}

/*targeting below the first li after the first li */
nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

/*targeting below the second li after the first li */
nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content p {
    color: #333;
    line-height: 1.5;  /* add spaces between lines */
}